 .advertencia { 
   position: relative;
   background-color: tomato;
   border-radius: 15px;
   padding: 6px;
   color: white;
   text-align: center; 
   font-weight: bold;
   width: 600px;
   } 

.contenido { 
  background-color: white;
  padding: 10px; color: 
  black; margin-top: 10px; 
}
.container {
  text-align: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
  font-family: Aria
}
    .close {
  position: absolute;
  top: 1px; 
  right: 10px;
  background-color: tomato;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  }
button.close:hover {
    background-color: #cc0000;
}
.parentesis {
  font-size: 11px;
  font-family: "Rubik", sans-serif;
  font-weight: 120;
}
.rubik {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  letter-spacing: 0.5px;
}

.parrafo {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-weight: 300; 
}
footer{
  text-align: right;
}
